.DS_Store
node_modules
results
temp
coverage.json
**/lcov.info
**/lcov-upgrade.info
**/lcov-all.info

yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

dist
artifacts
cache

!op-chain-ops/foundry/testdata/srcmaps/cache
!op-chain-ops/foundry/testdata/srcmaps/artifacts

!op-deployer/pkg/deployer/artifacts

packages/contracts-bedrock/deployments/anvil

# vim
*.sw*

# jetbrains
.idea/

.secrets
.env
.env*
!.env.example
!.envrc.example
*.log

.devnet*

# Ignore local fuzzing results
**/testdata/fuzz/

coverage.out

__pycache__

# Ignore echidna artifacts
crytic-export

# ignore local asdf config
.tool-versions

# Local rollup deployment
rollup/op-geth/
rollup/deployer/.deployer/state.json
rollup/deployer/.deployer/genesis.json
rollup/deployer/.deployer/rollup.json
rollup/deployer/address/
rollup/sequencer/genesis.json
rollup/sequencer/rollup.json
rollup/sequencer/jwt.txt
rollup/sequencer/op-geth-data/
rollup/sequencer/opnode_*/
rollup/sequencer/opnode_p2p_priv.txt
rollup/sequencer/.env
rollup/batcher/state.json
rollup/batcher/.env
rollup/contracts/out/
rollup/contracts/cache/